.front-page {
  width: 100vw;
  background-image: url('images/golden_gate.jpg'); 
  background-repeat: no-repeat;
  color: cornsilk;
  font-family: 'Courier New', Courier, monospace;
}

.left {
  height: 100vh;;
  background-color: mediumaquamarine;
  opacity: .9;
}

.person-image {
}

.my-image {
  width: 50%;
  margin: 15% 25% 5%;
  border-radius: 50%;
}

.person-content {
  color: cornsilk;
  text-align: center;
}

.main-navigation {
  margin: 20% 5%;
}

.block-social {
  margin: 20% 20%;  
}

.social-icons {
  
}

.right-inner {
  margin: 10% 10%;
}

.home-heading, .home-sub-heading {
  /* color: white; */
}

.home-buttons {
  margin-top: 15%;
}

.home-heading {
  margin: 10% 0;
}

ul {
  list-style-type: none
}

.main-section {
  margin: 2% 0 0 5%;
}


/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */


/* 
@media only screen and (max-width: 600px) {
  .left, .right {
    height: 50vh;
  }
} */

.main-title {
  color: grey;
}
/*will display inline block with screen size smaller*/
.navigation-extend-bar {
  display: none;
}

.time-and-project {
  display: flex;
}

.timeline_element-date {
  margin: 0 10px;
}


@media only screen and (max-width: 900px) {
  .navigation-extend-bar {
    display: inline;
  }
  .person-image,
  .person-content,
  .navigation-extendable, 
  .block block-social {
    display: none;
  }
} 

